<style>
    .room-content {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
</style>
{% extends 'main.html' %}{%block content%}
<div class="room-content">
    <div class="room-wrapper">
        <h2>{{room.name}}</h2>
        <p>{{room.description}}</p>


        <div>
            <h3>Conversation</h3>
            <hr>
            {% for message in room_message %}
            {%if request.user == message.user %}
            <a href="{%url 'delete-message' message.id%}">Delete</a>
            {%endif%}
            <p>@{{message.user}} {{message.created|timesince}} ago</p>
            <p>{{message.body}}</p>
            <hr>
            {%endfor%}
        </div>
        <div>
            {%if request.user.is_authenticated %}
            <form action="" method="post">
                {%csrf_token%}
                <input type="text" name="body" placeholder="Enter Your Message...">
                <input type="submit">
            </form>
            {%endif%}
        </div>
    </div>
    <div>
        <h3>Participants</h3>
        <hr>
        {% for user in participants %}
        <p>@{{user.username}}</p>
        {%endfor%}
    </div>
    {% endblock content %}
</div>